In [ ]:
print("Hello World")

Hello World

In [ ]:
Instructor = "Monika"
print("Python is", Instructor, sep=" - ")

Python is - Monika

In [ ]:
#variable in Python

In [ ]:
a=1 # integer number
print(a)

1

In [ ]:
b=1.35432546454 # decimal number
print(b)

1.35432546454

In [ ]:
c="Madhav" # word/sentence use quotes
print(c)

Madhav

In [ ]:
Monika=26 #declare a variable using variable
d=Monika
print(d)

26

In [ ]:
x=10 # adding a number to variable
print(x+1)

11

In [ ]:
p,q,r=11,12,13 #assign Multiple variables
print(p,q,r)

11 12 13

In [ ]:
#Ways to decalre a variable name
MyName="Madhav" # Pascal Case
myName="Madhav" # camel Case
myname="Madhav" # Flat Case
My_name="Madhav" #Snake Case

# Rules to declare a Variable
#1.Variable must start with letter or _-
_my_name="Madhav"
print(_my_name)
#2.variable can contain : Letter,numbers,Undersocre(_)-
my_name1="Monika"
print(my_name1)
#3.Variable are case sensitive
myname="Monika Jamuna"
print(myname)
#4.Variables names cannot be reserved word
import keyword
print("keyword", keyword.kwlist)

Madhav
Monika
Monika Jamuna
keyword ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#data types in python
a=1
b=1
print(a)
print(a+b)
print(type(a)) #checking data type:integer

1
2
<class 'int'>

In [ ]:
c="1"
d="1"
print(c+d)
print(type(c)) #checking data type:string

11
<class 'str'>

In [ ]:
#basic data types in Python
#1.Numeric
a1=1             #integer
a2=1.5           #Float
print(type(a2))

a3=complex(3,5) #Complex
print(type(a3))

#2.Sequence
b1="Madhav"     #String
print(type(b1))
b2=[1,4,7,5,6,"Madhav"] #List
print(type(b2))
b3=(1,4,7,5,6,"Madhav") #Tuple
print(type(b3))

#3. Dictionary
my_dictionary = {'name': 'Rishabh', 'age': 26, 'city': 'Prayagraj'}
print(type(my_dictionary))

#4. Sets
my_sets = {1,4,7,26,108,'Madhav'}
print(type(my_sets))

#5. Boolean
bool1 = True
bool2 = False
print(type(bool1))

#6. Binary
# bytes, bytearray, memoryview
byte1 = b"Madhav"
print(type(byte1))

<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'bytes'>

In [ ]:
# casting in python

a = 1               # int type
print(type(a))

b = "1"             # str type
print(type(b))

c = int(b)          # convert str to int type
print(type(c))

print(a+int(b))

# all str type can't be casted into numerical type
# name = "Madhav"
# newname = int(name)

# all numerical type can be cast into str
mynum = 26              # int type
mynum2 = str(mynum)     # convert int to str type
print(type(mynum2))

f1 = 22.56          # float type
f2 = int(f1)        # convert float to int type
print(f2)
print(type(f2))

in1 = 26
print(type(float(in1)))

# type casting types:

# 1. implicit type casting - python automatically convert data type
var1 = 10   #int type
var2 = 15.5 #float type
var3 = var1+var2
print(var3)
print(type(var3))

# 2. explicit type casting - programmer need to manually convert data type
int_num = 101           # int type
str_num = str(int_num)  # convert to str type
print(type(str_num))

a0 = bool(0)  # boolean type - False
print(a0)
print(type(a0))

a1 = bool(1)  # boolean type - True
print(a1)
print(type(a1))

<class 'int'>
<class 'str'>
<class 'int'>
2
<class 'str'>
22
<class 'int'>
<class 'float'>
25.5
<class 'float'>
<class 'str'>
False
<class 'bool'>
True
<class 'bool'>

In [ ]:
#input function in Python
a=input()
print(int(a)+int(a))
#input function always reads inout value as a string

1
2

In [ ]:
name=input("Enter your name:")
print(f"welcome {name} to the python Tutorial Series")

Enter your name:Monika
welcome Monika to the python Tutorial Series

In [ ]:
Age=input("Enter your age:")
print(f"ohh you're just {Age}!")
print(f"so next year you will be {int(Age)+1}!")

Enter your age:20
ohh you're just 20!
so next year you will be 21!

In [ ]:
#multiple input from user
#input from user to add two numbers and print result
x=input("Enter first number:")
y=input("Enter first number:")
print(f"sum of {x} & {y} is {int(x) +int(y)}")

Enter first number:20
Enter first number:20
sum of 20 & 20 is 40

In [ ]:
#write a program to input student name and marks of 3 subjects.Print name &percentage in output

student_name=input("Enter your name:")
Hindi_marks=input("Enter Hindi marks:")
English_marks=input("Enter English marks:")
Maths_marks=input("Enter Maths marks:")

Enter your name:Monika
Enter Hindi marks:99
Enter English marks:100
Enter Maths marks:91

In [ ]:
#calcualting percentage
percentage=((int(Hindi_marks)+int(English_marks)+int(Maths_marks))/300)*100

In [ ]:
#print result
print(f" THe result of {student_name} is {percentage}%. Well done")

 THe result of Monika is 96.66666666666667%. Well done

In [ ]:
#write a program that collects multiple types of data to store in dictionary and print output

#intializing a dictionary
user_data={}

#input  from user
user_data['name']=input("Enter your name:")
user_data['age']=int(input("Enter your age:"))
user_data['height']=float(input("Enter your height:"))
user_data['student']=input("Are you a student (yes/no):")

print(user_data)

Enter your name:Humshika
Enter your age:26
Enter your height:5.11
Are you a student (yes/no):yes
{'name': 'Humshika', 'age': 26, 'height': 5.11, 'student': 'yes'}

In [ ]:
#1.Arithemetic Operator
a=5
b=3
print(a+b) # Addition
print(a-b) # subtraction
print(a*b) #Multiplication
print(a/b) #Division
print(a%b) #Modulus
print(a**b) #Exponentiation

8
2
15
1.6666666666666667
2
125

In [ ]:
#2.comparision Operator - Output is boolean value(T/F)
a=5
b=3
print(a>b) #greater than operator
print(a<b) #Less than operator
print(a==b)#equal oprator
print(a!=b)#not equal to

True
False
False
True

In [ ]:
#3.Assigment Operator
a=5 #assigment operator equal to(=)

In [ ]:
# 4.Logical Operator
#RULE
#1.True+True= True
#2.True +False =False
#3.False+True=False
#4.False+False=False
a=10
b=20
print(a>10 and b<10) #AND Operator
print(a==10 and b==20)

False
True

In [ ]:
#Rule for OR Operator
#True + False = True
print(a>9 or b<19)

True

In [ ]:
#Not OPerator
print(not(a==10 and b==20))

False

In [ ]:
#5.Identity operator

x=[1,2,3]
y=x
z=[1,2,3]
print(x is y) #is operator
print(x is z)
print(x is not z)

True
False
True

In [ ]:
#6. Membership operator - in,not in
my_list=["Apple", "Orange","Watermelon"]
print("Apple" in my_list) #in operator
print("Apple2" in my_list)
print("apple2" not in my_list) #not in Operator

True
False
True

In [ ]:
#7.Bitwise operator -  AND &, OR |, XOR ^, NOT ~ etc
a=5                #5 in Binary - 0101
b=3                #3 in binary - 0011
print(a&b)         #1 in binary - 0001
print(a|b)
print(a^b)
print(~a)

1
7
6
-6

In [ ]:
#conditional statement in Python
 #1.If statment
#If statement works for tru condition
a=260
b=108
if b>a:
 print("b is greater than a")

In [ ]:
age =26
if age>19:
  print("You are an adult")

You are an adult

In [ ]:
age=int(input("Enter your age:"))
if age>19:
  print("You are an adult")

Enter your age:20
You are an adult

In [ ]:
print(10>100)

False

In [ ]:
#2. If else statement
# If Else handles False condition
age=int(input("Enter your age"))
if age>19:
  print("You are an adult")
else:
  print("You are not an adult")

Enter your age18
You are not an adult

In [ ]:
Temp=30

if Temp<25:
  print("It's a Cool day")
else:
  print("its a hot day")

its a hot day

In [ ]:
#3.If-elif-else statement
#multiple conditions

marks = int(input("Enter your marks -100:"))
if marks>=90:
   print("Grade: A+")
elif marks>=80:
   print("Grade: A")
elif marks>=70:
   print("Grade: B")
else:
   print("Grade: C")

Enter your marks -100:81
Grade: A

In [ ]:
#4. Nested if-else statement
#multiple conditions depneds on each other
#if-else inside if-else statement

#q: positive,negative,zero. positive -even/odd
number = int(input("Enter a number:"))

if number>0: #checking postive number
   if number%2==0: #checking even number
     print("This is a even number")
   else:
     print ("This is a odd number")
else:
   if number ==0:
      print("This is zero")
   else:
    print("This is a negative number")

Enter a number:0
This is zero

In [ ]:
#5.conditional statement
age=7
status = "Major" if age>=18 else "Minor"
print(status)

Minor

In [ ]:
#leap year condition:
# 4 divisible & 100 not divisible
#400 divisible

#user input
year=int(input("Enter a year: (e.e.2026):"))

#checking leap year
if (year %4==0 and year%100!=0) or year%400==0:
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter a year: (e.e.2026):2028
2028 is a leap year

In [ ]:
#Q2: login authentication using conditional statement
#Assume you have a predefined username and password
#Both Username and password are correct
#username is correct bit password is incorrect
#username is incorrect

#predefined username and password
predefined_username = "Monika"
predefined_password = "Pass12345"

#prompts the user to enter a username and password
username =input("Enter your username")
password =input("Enter your password")

#username and password match
if username == predefined_username:
    if password == predefined_password:
        print("Login successful")
    else:
        print("Incorrect password")
else:
    print("Invalid username")

Enter your usernamemonika
Enter your passwordPass123456
Invalid username

In [4]:
#Q3.Admission eligibility : a university has the following eleigibilty criteria for admission:
#marks in maths>=65
#marks in physics>=55
#marsk in chems>=50
#Total marks in all three subjects >=180 or
#total marks in maths and physcis>=140
#write a program that takes marks in three subjects as inout

#user input
print("Enter PCM marks out of 100")
Physics_marks=int(input("Enter Physics marks:"))
Chemistry_marks=int(input("Enter Chemistry marks:"))
Maths_marks=int(input("Enter Maths marks:"))

#Eligibility checks
if (Maths_marks>=65 and Physics_marks>=55 and Chemistry_marks>=50 and \
   (Maths_marks + Physics_marks + Chemistry_marks)>=180) or \
   ((Maths_marks + Physics_marks)>=140):
  print("You are eligible for admission")
else:
    print("You are not eligible for admission")

Enter PCM marks out of 100
Enter Physics marks:95
Enter Chemistry marks:96
Enter Maths marks:98
You are eligible for admission