In [ ]:
print("Hello World")

Hello World

In [ ]:
Instructor = "Monika"
print("Python is", Instructor, sep=" - ")

Python is - Monika

In [ ]:
#variable in Python

In [ ]:
a=1 # integer number
print(a)

1

In [ ]:
b=1.35432546454 # decimal number
print(b)

1.35432546454

In [ ]:
c="Madhav" # word/sentence use quotes
print(c)

Madhav

In [ ]:
Monika=26 #declare a variable using variable
d=Monika
print(d)

26

In [ ]:
x=10 # adding a number to variable
print(x+1)

11

In [ ]:
p,q,r=11,12,13 #assign Multiple variables
print(p,q,r)

11 12 13

In [ ]:
#Ways to decalre a variable name
MyName="Madhav" # Pascal Case
myName="Madhav" # camel Case
myname="Madhav" # Flat Case
My_name="Madhav" #Snake Case

# Rules to declare a Variable
#1.Variable must start with letter or _-
_my_name="Madhav"
print(_my_name)
#2.variable can contain : Letter,numbers,Undersocre(_)-
my_name1="Monika"
print(my_name1)
#3.Variable are case sensitive
myname="Monika Jamuna"
print(myname)
#4.Variables names cannot be reserved word
import keyword
print("keyword", keyword.kwlist)

Madhav
Monika
Monika Jamuna
keyword ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#data types in python
a=1
b=1
print(a)
print(a+b)
print(type(a)) #checking data type:integer

1
2
<class 'int'>

In [ ]:
c="1"
d="1"
print(c+d)
print(type(c)) #checking data type:string

11
<class 'str'>

In [ ]:
#basic data types in Python
#1.Numeric
a1=1             #integer
a2=1.5           #Float
print(type(a2))

a3=complex(3,5) #Complex
print(type(a3))

#2.Sequence
b1="Madhav"     #String
print(type(b1))
b2=[1,4,7,5,6,"Madhav"] #List
print(type(b2))
b3=(1,4,7,5,6,"Madhav") #Tuple
print(type(b3))

#3. Dictionary
my_dictionary = {'name': 'Rishabh', 'age': 26, 'city': 'Prayagraj'}
print(type(my_dictionary))

#4. Sets
my_sets = {1,4,7,26,108,'Madhav'}
print(type(my_sets))

#5. Boolean
bool1 = True
bool2 = False
print(type(bool1))

#6. Binary
# bytes, bytearray, memoryview
byte1 = b"Madhav"
print(type(byte1))

<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'bytes'>

In [ ]:
# casting in python

a = 1               # int type
print(type(a))

b = "1"             # str type
print(type(b))

c = int(b)          # convert str to int type
print(type(c))

print(a+int(b))

# all str type can't be casted into numerical type
# name = "Madhav"
# newname = int(name)

# all numerical type can be cast into str
mynum = 26              # int type
mynum2 = str(mynum)     # convert int to str type
print(type(mynum2))

f1 = 22.56          # float type
f2 = int(f1)        # convert float to int type
print(f2)
print(type(f2))

in1 = 26
print(type(float(in1)))

# type casting types:

# 1. implicit type casting - python automatically convert data type
var1 = 10   #int type
var2 = 15.5 #float type
var3 = var1+var2
print(var3)
print(type(var3))

# 2. explicit type casting - programmer need to manually convert data type
int_num = 101           # int type
str_num = str(int_num)  # convert to str type
print(type(str_num))

a0 = bool(0)  # boolean type - False
print(a0)
print(type(a0))

a1 = bool(1)  # boolean type - True
print(a1)
print(type(a1))

<class 'int'>
<class 'str'>
<class 'int'>
2
<class 'str'>
22
<class 'int'>
<class 'float'>
25.5
<class 'float'>
<class 'str'>
False
<class 'bool'>
True
<class 'bool'>

In [ ]:
#input function in Python
a=input()
print(int(a)+int(a))
#input function always reads inout value as a string

1
2

In [ ]:
name=input("Enter your name:")
print(f"welcome {name} to the python Tutorial Series")

Enter your name:Monika
welcome Monika to the python Tutorial Series

In [ ]:
Age=input("Enter your age:")
print(f"ohh you're just {Age}!")
print(f"so next year you will be {int(Age)+1}!")

Enter your age:20
ohh you're just 20!
so next year you will be 21!

In [ ]:
#multiple input from user
#input from user to add two numbers and print result
x=input("Enter first number:")
y=input("Enter first number:")
print(f"sum of {x} & {y} is {int(x) +int(y)}")

Enter first number:20
Enter first number:20
sum of 20 & 20 is 40

In [ ]:
#write a program to input student name and marks of 3 subjects.Print name &percentage in output

student_name=input("Enter your name:")
Hindi_marks=input("Enter Hindi marks:")
English_marks=input("Enter English marks:")
Maths_marks=input("Enter Maths marks:")

Enter your name:Monika
Enter Hindi marks:99
Enter English marks:100
Enter Maths marks:91

In [ ]:
#calcualting percentage
percentage=((int(Hindi_marks)+int(English_marks)+int(Maths_marks))/300)*100

In [ ]:
#print result
print(f" THe result of {student_name} is {percentage}%. Well done")

 THe result of Monika is 96.66666666666667%. Well done

In [ ]:
#write a program that collects multiple types of data to store in dictionary and print output

#intializing a dictionary
user_data={}

#input  from user
user_data['name']=input("Enter your name:")
user_data['age']=int(input("Enter your age:"))
user_data['height']=float(input("Enter your height:"))
user_data['student']=input("Are you a student (yes/no):")

print(user_data)

Enter your name:Humshika
Enter your age:26
Enter your height:5.11
Are you a student (yes/no):yes
{'name': 'Humshika', 'age': 26, 'height': 5.11, 'student': 'yes'}

In [ ]:
#1.Arithemetic Operator
a=5
b=3
print(a+b) # Addition
print(a-b) # subtraction
print(a*b) #Multiplication
print(a/b) #Division
print(a%b) #Modulus
print(a**b) #Exponentiation

8
2
15
1.6666666666666667
2
125

In [ ]:
#2.comparision Operator - Output is boolean value(T/F)
a=5
b=3
print(a>b) #greater than operator
print(a<b) #Less than operator
print(a==b)#equal oprator
print(a!=b)#not equal to

True
False
False
True

In [ ]:
#3.Assigment Operator
a=5 #assigment operator equal to(=)

In [ ]:
# 4.Logical Operator
#RULE
#1.True+True= True
#2.True +False =False
#3.False+True=False
#4.False+False=False
a=10
b=20
print(a>10 and b<10) #AND Operator
print(a==10 and b==20)

False
True

In [ ]:
#Rule for OR Operator
#True + False = True
print(a>9 or b<19)

True

In [ ]:
#Not OPerator
print(not(a==10 and b==20))

False

In [ ]:
#5.Identity operator

x=[1,2,3]
y=x
z=[1,2,3]
print(x is y) #is operator
print(x is z)
print(x is not z)

True
False
True

In [ ]:
#6. Membership operator - in,not in
my_list=["Apple", "Orange","Watermelon"]
print("Apple" in my_list) #in operator
print("Apple2" in my_list)
print("apple2" not in my_list) #not in Operator

True
False
True

In [ ]:
#7.Bitwise operator -  AND &, OR |, XOR ^, NOT ~ etc
a=5                #5 in Binary - 0101
b=3                #3 in binary - 0011
print(a&b)         #1 in binary - 0001
print(a|b)
print(a^b)
print(~a)

1
7
6
-6

In [ ]:
#conditional statement in Python
 #1.If statment
#If statement works for tru condition
a=260
b=108
if b>a:
 print("b is greater than a")

In [ ]:
age =26
if age>19:
  print("You are an adult")

You are an adult

In [ ]:
age=int(input("Enter your age:"))
if age>19:
  print("You are an adult")

Enter your age:20
You are an adult

In [ ]:
print(10>100)

False

In [ ]:
#2. If else statement
# If Else handles False condition
age=int(input("Enter your age"))
if age>19:
  print("You are an adult")
else:
  print("You are not an adult")

Enter your age18
You are not an adult

In [ ]:
Temp=30

if Temp<25:
  print("It's a Cool day")
else:
  print("its a hot day")

its a hot day

In [ ]:
#3.If-elif-else statement
#multiple conditions

marks = int(input("Enter your marks -100:"))
if marks>=90:
   print("Grade: A+")
elif marks>=80:
   print("Grade: A")
elif marks>=70:
   print("Grade: B")
else:
   print("Grade: C")

Enter your marks -100:81
Grade: A

In [ ]:
#4. Nested if-else statement
#multiple conditions depneds on each other
#if-else inside if-else statement

#q: positive,negative,zero. positive -even/odd
number = int(input("Enter a number:"))

if number>0: #checking postive number
   if number%2==0: #checking even number
     print("This is a even number")
   else:
     print ("This is a odd number")
else:
   if number ==0:
      print("This is zero")
   else:
    print("This is a negative number")

Enter a number:0
This is zero

In [ ]:
#5.conditional statement
age=7
status = "Major" if age>=18 else "Minor"
print(status)

Minor

In [ ]:
#leap year condition:
# 4 divisible & 100 not divisible
#400 divisible

#user input
year=int(input("Enter a year: (e.e.2026):"))

#checking leap year
if (year %4==0 and year%100!=0) or year%400==0:
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter a year: (e.e.2026):2028
2028 is a leap year

In [ ]:
#Q2: login authentication using conditional statement
#Assume you have a predefined username and password
#Both Username and password are correct
#username is correct bit password is incorrect
#username is incorrect

#predefined username and password
predefined_username = "Monika"
predefined_password = "Pass12345"

#prompts the user to enter a username and password
username =input("Enter your username")
password =input("Enter your password")

#username and password match
if username == predefined_username:
    if password == predefined_password:
        print("Login successful")
    else:
        print("Incorrect password")
else:
    print("Invalid username")

Enter your usernamemonika
Enter your passwordPass123456
Invalid username

In [ ]:
#Q3.Admission eligibility : a university has the following eleigibilty criteria for admission:
#marks in maths>=65
#marks in physics>=55
#marsk in chems>=50
#Total marks in all three subjects >=180 or
#total marks in maths and physcis>=140
#write a program that takes marks in three subjects as inout

#user input
print("Enter PCM marks out of 100")
Physics_marks=int(input("Enter Physics marks:"))
Chemistry_marks=int(input("Enter Chemistry marks:"))
Maths_marks=int(input("Enter Maths marks:"))

#Eligibility checks
if (Maths_marks>=65 and Physics_marks>=55 and Chemistry_marks>=50 and \
   (Maths_marks + Physics_marks + Chemistry_marks)>=180) or \
   ((Maths_marks + Physics_marks)>=140):
  print("You are eligible for admission")
else:
    print("You are not eligible for admission")

Enter PCM marks out of 100
Enter Physics marks:95
Enter Chemistry marks:96
Enter Maths marks:98
You are eligible for admission

In [ ]:
#functions in python

#create function without parameter
def greetings():
  print("Welcome to the python course by Rishab!")

  #call function()
greetings()

Welcome to the python course by Rishab!

In [ ]:
#create a function to add 2 numbers with parameter

def add2numbers(a,b):
  result=a+b #paramenter(a,b)
  print("the sum is:",result)

#call above sum function
add2numbers(2,3) #arguments (2,3)
add2numbers(a=10,b=100)
add2numbers(b=50,a=10)

the sum is: 5
the sum is: 110
the sum is: 60

In [ ]:
add2numbers

In [ ]:
#create a function to add 3 numbers

def add3numbers(a,b,c):
  result=a+b+c
  print("the sum is:",result)

#call above sum function
add3numbers(2,2,100)

the sum is: 104

In [ ]:
#function with return statement
def add2num(a,b):
  return a+b

  #return a-b after return statement function ends
sum2num=add2num(2,3)
print(sum2num)

5

In [ ]:
#function to convert celsius to fahrenheitn-return statement
def celsius_to_fahrenheit(celsius):
  fahrenheit=(celsius*9/5)+32
  return fahrenheit

#call function
temp_f = celsius_to_fahrenheit(25)
print(temp_f)
print("with return: ",type(temp_f))

77.0
with return:  <class 'float'>

In [ ]:
#function to convert celsius to fahrenheitn-without return statement
def celsius_to_fahrenheit(celsius):
  fahrenheit=(celsius*9/5)+32
  print(fahrenheit)

#call function
temp_f2=celsius_to_fahrenheit(50)
print("without return:", type(temp_f2))

122.0
without return: <class 'NoneType'>

In [ ]:
#pass statement

def world():
  pass
def top_right_CTA_button_type():   #code to be updated later
  pass
print("Hello!")

Hello!

## **Project** 1

In [6]:
#python program to create a simple calculator

#3 steps to build calculator program
#1.functions for operations
#2.user input
#3.print result

#step 1 create functions
#function to add two numbers
def add(num1,num2):
  return num1+num2

#function to sub two numbers
def sub(num1,num2):
  return num1-num2

#function to multiply two numbers
def multiply(num1,num2):
  return num1*num2

#function to divide two numbers
def divide(num1,num2):
  return num1/num2

#function to avg two numbers
def avg(num1,num2):
  return (num1+num2)/2

#step-2: user input

print("please select a operation:\n" \
      "1.Addition\n"\
      "2.Subtraction\n" \
      "3.multiplication\n" \
      "4.Division\n" \
      "5.Average\n")
select = int(input("select a operation from 1,2,3,4,5:"))

number1=int(input("Enter first number:"))
number2=int(input("Enter second number:"))

#step-3: print result
if select ==1:
  print(number1,"+", number2,"=",\
        add(number1,number2))
elif select ==2:
  print(number1,"-", number2,"=",\
        sub(number1,number2))
elif select==3:
  print(number1,"*",number2,"=",\
        multiply(number1,number2))
elif select==4:
  print(number1,"/",number2,"=",\
        divide(number1,number2))
elif select==5:
  print("(", number1,"+",number2,")","/",2,"=",\
        avg(number1,number2))
else:
  print("invalid operation! please select again!")

please select a operation:
1.Addition
2.Subtraction
3.multiplication
4.Division
5.Average

select a operation from 1,2,3,4,5:5
Enter first number:3
Enter second number:5
( 3 + 5 ) / 2 = 4.0

**#Function arguments**

In [9]:
#Arguments in fuction

#1. Required arguments (single/multiple arguments)

def greetings(name):   #name is paremeter
  print("Hello",name,"!")

greetings("Monika")    #Monika is argument

Hello Monika !

In [10]:
greetings() #required an argument to run a code

TypeError: greetings() missing 1 required positional argument: 'name'

In [11]:
#1.Required argument
def intro(course_name,instructor_name):
  print("Welcome to", course_name,"course by",instructor_name)
intro("Python","Monika")   #required argument

Welcome to Python course by Monika

In [15]:
#2. Default argument
def greetings(name="world"):   #world is a default value
  print("Hello",name,"!")
greetings()    #runs without error using default value
greetings("Monika")

Hello world !
Hello Monika !

In [19]:
#3. Keyword Arguments (Named argument)
def divide(a,b):
  return a/b
result1 =divide(100,20)
print(result1)

result2 = divide(a=100,b=20)  #positional argument
print(result2)

result3=divide(b=100,a=20)   # named argument
print(result3)

5.0
5.0
0.2

In [29]:
#4. Arbitrary argument
#Arbitrary positional argument
#Store arguments as TUPLE
def add2number(a,b,):
  return a+b

result=add2number(10,11)
print(result)

def add3number(a,b,c):
  return a+b+c

result1=add3number(10,11,12)
print(result1)

def add_numbers(*args):
  print(type(args))
  return sum(args)

result3=add_numbers(1,2,3,3,5)  #variable no. of arguments
print(result3)

#Arbitrary keyword argument(**Kwargs)
#note: Stores arguments as dictionary

def print_details(**kwargs):
  print(type(kwargs))
  for key, value in kwargs.items():
    print(f"{key}:{value}")

print_details(name="Monika",age=25,city="Mumbai")

21
33
<class 'tuple'>
14
<class 'dict'>
name:Monika
age:25
city:Mumbai

##Strings in Python

In [33]:
#Strings chars in single,double and triple quotes
name="Madhav"  #creating a string
print(name)

print(type(name))  #checking data type

print("Hello world")
print('Hello world')
print("It's easy")
print('"Quotes"')
print(" \" Quotes awesome \" ")

Madhav
<class 'str'>
Hello world
Hello world
It's easy
"Quotes"
 " Quotes awesome "

In [34]:
#formatted strings
#1.old style formatting - %operator
name="Madhav"
age=16
print("my name is %s and I'm %d" %(name,age))  #%s,%d are placeholders for strings and integers

my name is Madhav and I'm 16

In [40]:
#2. str.format() method

name="madhav"
age=16
print("my name is {} and i'm {}".format(name,age))

#you can refernce variables by index or keyword
print("my name is {0} and i'm {1}".format(name,age))
print("my name is {1} and i'm {0}".format(name,age))

print("my name is {name} and i'm {age}".format(name="mona",age=28))

my name is madhav and i'm 16
my name is madhav and i'm 16
my name is 16 and i'm madhav
my name is mona and i'm 28

In [42]:
#3. f-strings
name="Bhavyesh"
age=1
print(f"my name is {name} and i'm {age}")
print(f"my age after 5 years will be {age+5}")

my name is Bhavyesh and i'm 1
my age after 5 years will be 6

In [46]:
#Excape characters - backslash with characters
print('''"Kw-double Quotes"''')
print("\"kw-double Quotes\" ")   # double quotes using
print("\'kw-single Quotes\' ")   #Single quotes

print("Hello \nWorld")   #new line
print("Hello\tworld")    #tab-space

"Kw-double Quotes"
"kw-double Quotes"
'kw-single Quotes'
Hello
World
Hello	world

In [56]:
#strings operators in Python
a="Hello"
b="Python"

print(a+b) #concatenate
print(a*2) #multiple copies
print(b*3)

if "h" in a:
  print("Yess")
else:
  print("Noo")

if "h" not in a:
  print("yes")
else:
  print("No")

print(r"Hello\nWorld")   #Raw string:suppress the escape characters

HelloPython
HelloHello
PythonPythonPython
Noo
yes
Hello\nWorld

##String Indexing

In [65]:
my_name="Madhav"
#index-012345
print(my_name[0])   # first character of string
print(my_name[1])
print(my_name[2])
print(my_name[3])
print(my_name[4])
print(my_name[5])

name2="Hello World"
#index:012345678910
#-ve index:-1,-2,-3,-4,-5......
print(name2[5])    #banck space is also a character
print(name2[6])

print(name2[-1])   #last character from string

M
a
d
h
a
v

W
d

##String Slicing

In [13]:
my_name="Madhav"
#syntax: string[start:end:step]
print(my_name[0:3])
print(my_name[0:3:1])

print(my_name[0:5:1])
print(my_name[3:5:1])
print(my_name[0:5:2])

print(my_name[0:2])     #first 2 chars
print(my_name[0:3])     #first 3 chars
print(my_name[2:5])     #third to fifth chars
print(my_name[1:4])

print(my_name[-1])      #last char of str
print(my_name[5:])
print(my_name[-2:])
print(my_name[0:5:2])    #every seconf char
print(my_name[:])        #all char
print(my_name[::])       #all char
print(my_name[::-1])     #reverse the string

Mad
Mad
Madha
ha
Mda
Ma
Mad
dha
adh
v
v
av
Mda
Madhav
Madhav
vahdaM

##String Method

In [32]:
#1.len()
word="Hello, Madhav is great"
print(len(word))

#2.upper()
print(word.upper())

#3.Lower()
print(word.lower())

#4.count()
print(word.count("d"))  #count the letter how many times it occurs

#5.find()
print(word.find("H"))   #it gives position of index value

#6.split()
print(word.split(","))
print(word.split())

#7.Replace()
print(word.replace("Madhav","Bhavyesh"))

#8.Title()
print(word.title())    #it makes the capital letter for every starting word

#9.strip()
word2="   Hello World   "
print(len(word2))
print(word2.strip())

#10.Join()
zword=("madhav","is","Great")
print(" ".join(zword))
print("-".join(zword))

22
HELLO, MADHAV IS GREAT
hello, madhav is great
1
0
['Hello', ' Madhav is great']
['Hello,', 'Madhav', 'is', 'great']
Hello, Bhavyesh is great
Hello, Madhav Is Great
17
Hello World
madhav is Great
madhav-is-Great

##Assigmnet-4

In [41]:
#1.Limit the decimal places to 2 digits using format method and print result,for the variable pi=3.14159265359

pi=3.14159265359
print("value of pi is {}".format(pi)) #using f-function formatting float numbers
print("{:.2f}".format(pi))

#f-string
print(f"{pi:.2f}")

value of pi is 3.14159265359
3.14
3.14

In [44]:
#2.Extract characters from index 2 to 8 with a step of 2:Given my_string = "Python course", slice character from index 2 to 8 skipping evry other character
my_string = "Python course"
print(my_string[2:8:2])

to

In [45]:
#3.Slice to get only the middle character(s): for my_string="Madhav", use slicing to extract the middle character(s)

my_string="Madhav"  #6 chars - even
my_string2="madhava" #7 chars - odd
print(my_string[2:4])

dh

In [49]:
#4.Remove the first 3 and last 3 character: Given my_string = "Regression Analysis", remove the first 3 and last 3 chars
my_string="Regression Analysis"
print(my_string[3:-3])

ression Analy

In [50]:
#5.Get the substring that starts 4 characters from the end to the last character: for my_string="Classification",slice the string starting from the 4th character from the end to the last character
my_string="Classification"
print(my_string[-4:])

tion

In [51]:
#6.How to reverse a string using Python string methods
word="Python"
print(word[::-1])

nohtyP

In [57]:
#7. Write a Python function to cehck if a string is a palindrome using string mehtods
word="madam"
word2="madan"

def is_palindrome(s):
  if s==s[::-1]:
   print(f"{s} is a palindrome")
  else:
    print(f"{s} is not a palindrome")

is_palindrome(word)
is_palindrome(word2)

madam is a palindrome
madan is not a palindrome

##Loops in Python - While & for lop

In [68]:
#while Loop
count=0
while count<5:   #condition
  print(count)
  count=count+1
#print number from 1 to 5 using while loop
count=1
while count<6:
  print(count)
  count+=1

count=5
while count>0:
  print(count)
  count-=1
else:
  print("While loop ended")

0
1
2
3
4
1
2
3
4
5
5
4
3
2
1
While loop ended